@page
@model TransferenciaTerceroModel
@{
    ViewData["Title"] = "Transferencia a terceros";
}
<h3>@ViewData["Title"]</h3>

<div class="container">
    @if (TempData["ValidacionTransferencia"] != null) {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["ValidacionTransferencia"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <form method="post" id="formulario" name="formulario">
        <div class="mb-3 row">
            <label asp-for="Input.AccountSource" class="col-sm-2 col-form-label">Cuenta de origen</label>
            <div class="col-sm-10">
                <select class="form-select" asp-items="Model.UserAccounts" asp-for="Input.AccountSource"></select>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Input.AccountDestination" class="col-sm-2 col-form-label">Cuenta destinatario</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="Input.AccountDestination" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Input.Amount" class="col-sm-2 col-form-label">Cantidad</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="Input.Amount" placeholder="0.00" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Input.Description" class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-10">
                <textarea class="form-control" asp-for="Input.Description"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-info btn-block">Enviar</button>
    </form>
</div>

<script>
    window.onload = function(){
        var accountSource = document.getElementById("Input_AccountSource")
        var accountDestination = document.getElementById("Input_AccountDestination")
    }
</script>